*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue-0: #e7f5ff;
  --blue-8: #1971c2;
  --blue-9: #1864ab;
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --red-6: #fa5252;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
}